html
	head
		title Request Store
		link(rel="icon" type="image/png" href="https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/markdown-favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		script(src="/js/main.js")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/request-success.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	body
		main
			.markdown-logo
			.content-container
				.checkmark
				h1.title Thanks for the suggestion!
				p.subtitle We greatly appreciate your suggestion. You can either <a href="/request-store">request another store</a> or go back to our <a href="/">homepage</a>.
		script(src="/js/request-success.js")
