html
	head
		title Support
		link(rel="icon" type="image/png" href="https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/markdown-favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		script(src="/js/main.js")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/support.css")
		link(rel="stylesheet" href="/css/dark-nav.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	body
		main
			include components/nav
			#content
				.header
					.header-content
						h1.title Support Center
			include components/footer
		script(src="/js/stores.js")
