.navbar
  background #041026 !important
  .nav-content
    .logo-wrap
      .title
        color white !important
    .nav-links
      .link
        color rgba(255,255,255,0.8) !important
        &:hover,
        &.active
          color #4fbef4 !important
    .menu-btn
      .bar
        background #e8f1f9 !important
