.navbar
  width 100%
  height 100px
  .nav-content
    width calc(100% - 80px)
    margin 0 auto
    position relative
    height 100%
    display flex
    justify-content space-between
    align-items center
    .left
      display flex
      justify-content left
      align-items center
      .logo-wrap
        display flex
        justify-content left
        cursor pointer
        .logo
          background-image url("https://markdown-images-369543.s3-us-west-2.amazonaws.com/Logo/PNG/markdown-02.png")
          background-size cover
          background-position center
          background-repeat no-repeat
          width 30px
          height 30px
          margin-right 12px
          margin-top -2px
        .title
          color #183149
          font-size 20px
          margin 0
          letter-spacing .3px
      .divider
        height 40px
        margin 0 20px
      .nav-links
        display flex
        justify-content left
        .link
          margin 0 40px 0 0
          color #484848
          cursor pointer
          font-size 16px
          font-weight 400
          text-decoration none
          transition color .3s
          &:hover
            color #0F8DCB
    .right
      .install-btn
        width 180px
        height 40px
        position relative
        border-radius .3em
        background #0E9EE4
        cursor pointer
        transition background .3s
        &:hover
          background #11aaf5
          .icon-wrap
            background #0E9EE4
        .btn-text
          color white
          font-weight 400
          font-size 14px
          position absolute
          top 50%
          letter-spacing .3px
          left 10px
          margin 0
          transform translateY(-50%)
        .icon-wrap
          position absolute
          top 0
          right 0
          width 40px
          height 40px
          border-bottom-right-radius .3em
          border-top-right-radius .3em
          background #0E8DCB
          transition background .3s
          .icon
            background-image url("https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/white-download-arrow.png")
            background-size cover
            background-position center
            background-repeat no-repeat
            height 17px
            width 17px
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
