.navbar
  width 100%
  height 100px
  position relative
  z-index 5
  .nav-content
    width calc(100% - 80px)
    margin 0 auto
    position relative
    height 100%
    display flex
    justify-content space-between
    align-items center
    .left
      display flex
      justify-content left
      align-items center
      .logo-wrap
        display flex
        justify-content left
        cursor pointer
        .logo
          background-image url("https://markdown-images-369543.s3-us-west-2.amazonaws.com/Logo/PNG/markdown-02.png")
          background-size cover
          background-position center
          background-repeat no-repeat
          width 30px
          height 30px
          margin-right 12px
          margin-top -2px
        .title
          color #183149
          font-size 20px
          margin 0
          letter-spacing .3px
      .divider
        height 40px
        margin 0 20px
      .nav-links
        display flex
        justify-content left
        .link
          margin 0 40px 0 0
          color #484848
          cursor pointer
          font-size 16px
          font-weight 400
          text-decoration none
          transition color .3s
          &:hover,
          &.active
            color #0E9EE4
    .right
      .install-btn
        width 180px
        height 45px
        position relative
        border-radius .3em
        background #0E9EE4
        cursor pointer
        transition background .3s
        &:hover
          background #11aaf5
        .btn-text
          color white
          font-weight 500
          font-size 14px
          position absolute
          top calc(50% + 1px)
          letter-spacing .5px
          left 50%
          margin 0
          width fit-content
          transform translate(-50%, -50%)
