.header
  height 600px
  background #041026
  width 100%
  position relative
  margin-top -100px
  .header-content
    position absolute
    top calc(50% + 5px)
    left 50%
    transform translate(-50%, -50%)
    text-align center
    width fit-content
    h1.title
      color white
      font-size 65px
      margin 0
      letter-spacing 1px
    p.subtitle
      color #8ca3b6
      margin 0
      font-size 17px
      letter-spacing .3px
    button.request-store-btn
      margin 15px 0 0
      color white
      background #0a2c52
      padding 12px 50px
      font-size 14px
      letter-spacing .5px
      font-weight 500
      outline none
      border none
      cursor pointer
      border-radius .5em
      transition background .3s
      &:hover
        background #2c9fe0
.search-bar
  width 90%
  margin 30px auto 0
  position relative
  .search-icon
    background-image url('https://markdown-images-369543.s3-us-west-2.amazonaws.com/search-icon.svg')
    background-size cover
    background-position center
    background-repeat no-repeat
    width 40px
    height 40px
    position absolute
    top calc(50% + 2px)
    opacity .2
    transform translateY(-50%)
    left 5px
  .clear-search
    position absolute
    background url('https://markdown-images-369543.s3-us-west-2.amazonaws.com/close.svg')
    background-size cover
    background-repeat no-repeat
    background-position center
    width 35px
    height 35px
    top 50%
    transform translateY(-50%)
    right 10px
    opacity .2
    display none
    cursor pointer
    transition opacity .3s
    &:hover
      opacity .4
  .search-inpt
    border none
    outline none
    background none
    width 100%
    padding 10px 50px 3px 60px
    border-bottom 2px solid rgb(228, 231, 242)
    color #7185a1
    font-weight bold
    display inline
    font-size 45px
    letter-spacing 1px
    &::placeholder
      color rgb(185, 187, 199)
      font-weight 300
      letter-spacing 1px
      font-size 35px
      padding-left 3px

.stores-container
  width 1546px
  margin 40px auto 0
  display flex
  height fit-content
  justify-content left
  align-items center
  flex-flow row wrap
  .no-results-container
    margin 30px auto
    width fit-content
    text-align center
    display none
    h2
      color #183149
      font-size 20px
      margin 0 0 5px
      letter-spacing .3px
      span
        font-weight 400
    p
      color #567B99
      font-size 14px
      letter-spacing .3px
      margin 0
  .store
    width calc(33% - 20px)
    height 200px
    margin 0 10px 20px
    border-radius .3em
    border 1px solid #efeff3
    box-shadow none
    cursor pointer
    transition box-shadow .3s, border-color .3s
    &:hover
      border-color rgba(0, 158, 193, 0.3)
      box-shadow 0 3px 12px 3px rgba(0, 135, 193, 0.12)
    .content
      width 95%
      height 95%
      margin 2.5% 0 0 2.5%
      display flex
      align-items center
      justify-content left
      .logo
        width 75px
        margin-right 35px
        margin-left 15px
      .info
        width fit-content
        h1.title
          color #132639
          margin 0 0 2px
          font-size 20px
          letter-spacing .5px
        p.desc
          color #567B99
          letter-spacing .3px
          margin 0
          font-size 13px

@media only screen and (max-width 1600px)
  .stores-container
    width 1025px !important
    .store
      width calc(50% - 22px) !important

@media only screen and (max-width 1065px)
  .stores-container
    width 490px !important
    .store
      width 100% !important
      margin 0 0 20px !important

@media only screen and (max-width 770px)
  .stores-container
    width 95% !important
    .store
      .info
        .desc
          font-size 12px !important
  .header
    height 400px !important
    .title
      font-size 50px !important
    .subtitle
      font-size 15px !important
      width 95% !important
      margin 0 auto !important
    .request-store-btn
      font-size 13px !important
      padding 10px 40px !important
  .search-bar
    .search-icon
      width 35px !important
      height 35px !important
      left 10px !important
    .search-inpt
      font-size 35px !important
      &::placeholder
        font-size 25px !important
    .clear-search
      width 30px !important
      height 30px !important

@media only screen and (max-width 545px)
  .header
    .title
      font-size 35px !important
    .subtitle
      font-size 12px !important
