#content
  min-height calc(100% - 350px)

.header
  height 600px
  background #041026
  width 100%
  position relative
  margin-top -100px
  .header-content
    position absolute
    top calc(50% + 5px)
    left 50%
    transform translate(-50%, -50%)
    text-align center
    h1.title
      color white
      font-size 65px
      margin 0
      letter-spacing 1px
