link(rel="stylesheet" href="/css/footer.css")
#footer-container
  .advert-wrap
    h2 Ready to start using Markdown?
    button.install-btn Get Markdown
  .footer
    .footer-content
      .logo-wrap
        .logo
        h1.title Markdown
      .sm-wrap
        .sm-icon.twitter(data-href="https://twitter.com/join_markdown" style="background-image: url(https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/sm-icons/twitter-icon.svg);")
        .sm-icon.linkedin(data-href="" style="background-image: url(https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/sm-icons/linkedin-icon.svg);")
        .sm-icon.instagram(data-href="https://www.instagram.com/join_markdown/" style="background-image: url(https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/sm-icons/instagram-icon.svg);")
        .sm-icon.youtube(data-href="" style="background-image: url(https://markdown-images-369543.s3-us-west-2.amazonaws.com/markdown-lander-assets/sm-icons/youtube-icon.svg);")
