link(rel="stylesheet" href="/css/footer.css")
.footer
  p.all-rights-reserved &copy; 2020 <a class="website-link" href="https://teammarkdown.com">Markdown</a> <span class="splitter">|</span> All Rights Resrved
