link(rel="stylesheet" href="/css/nav.css")
.navbar
  .nav-content
    .left
      .logo-wrap
        .logo
        h1.title Markdown
      .divider
      .nav-links
        a.link.stores-link(href="/stores") Stores
        a.link.support-link(href="/support") Support
    .right
      .install-btn
        p.btn-text Get Markdown
script(src="/js/nav.js")
