link(rel="stylesheet" href="/css/nav.css")
.navbar.active
  .nav-content
    .logo
    .nav-links
      .link.home-link
        p Home
      .link.about-link
        p About
      .link.stores-link
        p Stores
      .link.support-link
        p Support
      button.install-btn Get Markdown
